[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/DependencyBiomeCargo.git
ignore = all

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/DependencyBiomeNPM.git
ignore = all

[submodule "Dependency"]
path = Dependency
url = ssh://git@github.com/CodeEditorLand/DependencyBiomeDependency.git
ignore = all
